/* *{
    outline: red solid 2px;
} */

body {
    min-height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.tool-bar{
    height: inherit;
    width: 150px;
    border: black solid 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.grid-container{
    width: 512px;
    height: 512px;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid-cell.outline-cell{
    outline: rgb(168, 168, 168) solid 1px;
}

button.active{
    background-color: lightblue;
}

input[type='color']{
    width: 50px;
    height: 50px;
    border: none;
}