body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
}

/* .grid-cell{
    outline: black solid 1px;
} */

.grid-cell.visited{
    background-color: black;
}